<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>

    <property name="connection.url">jdbc:mysql://root@localhost:3306/db2</property>
    <property name="connection.username">DESKTOP-HS66951</property>
    <property name="connection.password">mysql#rp123456</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <!-- 'show_sql' set true to check sql statements on console else set to false -->
    <property name="show_sql">true</property>
    
    <!-- use 'create' to Create tables on application startup else use 'update'-->
    <property name="hbm2ddl.auto">create</property>

    <!-- JDBC connection pool -->
    <property name="connection.pool_size">5</property>
    <property name="current_session_context_class">thread</property>

     <!-- Domain Model classes to be mapped -->
 	 <mapping class="com.mapping.Question" />
	 <mapping class="com.mapping.Answer" />
	 
</session-factory>
</hibernate-configuration>